
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: "Montserrat", sans-serif;
}

.bg-image {
	background-image: url("./images/GCM.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

#bg-image {
    background-image: url("./images/GCM.png");
    min-height: 45vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
}

.card-title {
	border-bottom: cyan;
	border-style: solid;
	border-right: white;
	border-left: white;
	border-top: white;
	padding-bottom: 1rem;
	color: black;
	font-weight: bold;
}

.card-body {
	background-color: #C5C6C7;
}