
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: "Montserrat", sans-serif;
}

.bg-image {
	background-image: url("./images/GCM.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

#bg-image {
    background-image: url("./images/GCM.png");
    min-height: 45vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
}

.card-title {
	border-bottom: cyan;
	border-style: solid;
	border-right: white;
	border-left: white;
	border-top: white;
	padding-bottom: 1rem;
	color: black;
	font-weight: bold;
}

.card-body {
	background-color: #C5C6C7;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 550px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:300px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}